name: Tests

on:
  #push:
  pull_request:
  schedule:
      -   cron:  '0 3 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        env:
          PRIVATE_FEED_USER: ${{ github.repository_owner }}
          PRIVATE_FEED_PASS: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker build -t prc-rocksdb --build-arg=PRIVATE_FEED_USER=$PRIVATE_FEED_USER --build-arg=PRIVATE_FEED_PASS=$PRIVATE_FEED_PASS .
          docker container run --rm prc-rocksdb:latest
